{% extends 'base.html' %}

{% block title%}
    Home
{% endblock %}

{% block body %}

    <div class="index-container">
        <h1 class="center-head">Basic Scan</h1>
        
        <div class="box-container">
        
        <div class="scan-box">
            <i class="fa-solid fa-satellite-dish"></i>
        <p class="box-main">Default Scan</p>
        <p class="scan-desc">Scans the basic ports of a network or a target  for open ports or service running on them </p>
        </div>

        <div class="scan-box">
            <i class="fa-solid fa-network-wired"></i>
        <p class="box-main">Custom Scan</p>
        <p class="scan-desc">Only Scan the specified ports and check whether it is open and detect the service running  </p>
        </div>

        <div class="scan-box">
            <i><i class="fa-brands fa-searchengin"></i></i>
        <p class="box-main">Quick Scan</p>
        <p class="scan-desc">Perform a Quick scan on most used ports it scan fewer ports than default scan</p>
        </div>
        </div>
    </div>

    <div class="index-container">
        <h1 class="center-head">Advanced Scan</h1>
        <div class="grid-temp">
        <div class="box-container-two">
        
            <div class="scan-box-grid" id="first-grid-box">
            
                <i class="fa-solid fa-computer"></i>
            <p class="box-main">Full Scan</p>
        
            <p class="scan-desc">Perform a Full scan on most used ports using socket method and prints thr result </p>
        
        </div>
    </div>
        <div class="grid-box">
        <div class="scan-box-grid">
            <i class="bi bi-arrow-left-right"></i>
        <p class="box-main" id="sec-box-p">TCP Scan</p>
        <p class="scan-desc" id="sec-box-p">Perform a Quick scan on most used ports using socket method and prints thr result </p>
        </div>

        <div class="scan-box-grid">
            <i class="bi bi-broadcast"></i>
        <p class="box-main" id="sec-box-p">UDP Scan</p>
        <p class="scan-desc" id="sec-box-p">Perform a Quick scan on most used ports using socket method and prints thr result </p>
        </div>
    </div>
    </div>
    </div>
    <div class="index-container">
        <h1 class="center-head"> Service Detection </h1>
        <div class="box-container-three">
        
            <div class="scan-box-third">
                <i class="fa-solid fa-satellite-dish"></i>
            <p class="box-main">Quick Scan</p>
            <p class="scan-desc">Perform a Quick scan on most used ports using socket method and prints thr result </p>
            </div>
    
            <div class="scan-box-third">
                <i class="fa-solid fa-network-wired"></i>
            <p class="box-main">Quick Scan</p>
            <p class="scan-desc">Perform a Quick scan on most used ports using socket method and prints thr result </p>
            </div>
    
            <div class="scan-box-third">
                <i><i class="fa-brands fa-searchengin"></i></i>
            <p class="box-main">Quick Scan</p>
            <p class="scan-desc">Perform a Quick scan on most used ports using socket method and prints thr result </p>
            </div>
            <div class="scan-box-third">
                <i><i class="fa-brands fa-searchengin"></i></i>
            <p class="box-main">Quick Scan</p>
            <p class="scan-desc">Perform a Quick scan on most used ports using socket method and prints thr result </p>
            </div>
                
        </div>

        </div>

    </div>

{% endblock%}
