{% extends 'base.html' %}

{% block body%}

<h1 class="center-head">Basic Network Tools</h1>
<div class="container">
    <div class="row">
        <div class="box">
            <a href="#"><p>My IP Address</p></a>
        </div>
        <div class="box">
            <a href="#"><p>DNS resolver</p></a>
        </div>
        <div class="box">
            <a href="#"><p>NS Lookup</p></a>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <a href="#"><p>MAC Changer</p></a>
        </div>
        <div class="box">
            <a href="#"><p>Trace Route</p></a>
        </div>
        <div class="box">
            <a href="#"><p>Subnet Calculator</p></a>
        </div>
    </div>

    </div>
{% endblock %}